<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-card>
      <img style="height: 20rem;" src="assets/PD.jpg">
  
    <ion-card-header>
      <ion-card-title>Prathamesh Dound</ion-card-title>
      
      </ion-card-header>
      <ion-card-content style="font-size:1.2rem;">
         Student at Sardar Patel Institute of Technology
                <div style="margin: 4rem;">
                  
                    <ion-button (click)="presentActionSheet()">Update</ion-button>
                    </div>
                  </ion-card-content>
                  </ion-card>
  </ion-content> 