<ion-header [translucent]="true">
 <ion-toolbar>
 <ion-title>
 Paintings
 </ion-title>
 </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 <ion-card>
 <img src="assets/PratapgadFort.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title></ion-card-title>
 <b>Pratapgad Fort प्रतापगड</b>
 </ion-card-header>
 </ion-card>
 

 <ion-card>
 <img src="assets/raigad.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title></ion-card-title>
 <b>Raigad Fort रायगड</b>
 </ion-card-header>
 </ion-card>
 
 <ion-card>
 <img src="assets/lohagadh.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title></ion-card-title>
 <b>Raigad Fort रायगड</b>
 </ion-card-header>
 </ion-card>

 <ion-card>
 <img src="assets/kondana.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title></ion-card-title>
 <b>Sihnagad Fort सिंहगड</b>
 </ion-card-header>
 </ion-card>
 
 


 
 </ion-content>
