<ion-header [translucent]="true">
 <ion-toolbar>
 <ion-title>
 Home
 </ion-title>
 </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 <ion-card>
 <img src="assets/dagger.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title>Dagger with Scabbard</ion-card-title>
 </ion-card-header>
 <ion-card-content>
 <p>The hilt of the dagger is constructed of heavy sections of gold over an iron core and its scabbard mounts are of solid gold. All the intricately engraved surfaces are set with gems and colored glass finely cut with floral forms. The designs closely parallel those in Mughal painting of the early seventeenth century, suggesting the dagger dates from the reign of Emperor Jahangir (1605–27), whose deep love of nature, especially flowers, is well documented in his memoirs, the "Tuzuk." The blade is forged of watered steel.</p>
 </ion-card-content>
 </ion-card>
 <ion-card>
 <img src="assets/cuirass.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title>Cuirass</ion-card-title>
 </ion-card-header>
 <ion-card-content>
 <p>The unusual one-piece construction of the breastplate and the backplate, which resembles a stylized human torso, possibly reflects European incfluence. Both plates are forged from crucible steel, which also is referred to as watered steel because of the subtle rippling pattern visible in the structure of the metal. Watered steel was used often for sword and dagger blades, but only seldom for armor, and then only for examples of superior quality.</p>
 </ion-card-content>
 </ion-card>

 <ion-card>
 <img src="assets/katar.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title>Katar</ion-card-title>
 </ion-card-header>
 <ion-card-content>
 <p>Daggers of this type, called katars, were designed to be held by the cross bars in a clenched fist. This is one of the few that retains its embossed leather scabbard. Elaborately decorated examples worn thrust through a waist sash, can be seen in many Indian paintings of this period.</p>
 </ion-card-content>
 </ion-card>
 
 <ion-card>
 <img src="assets/pistol.jpg">
 <ion-card-header>
 <ion-card-subtitle>The Maharashtra Museum</ion-card-subtitle>
 <ion-card-title>Pair of Flintlock Pistols</ion-card-title>
 </ion-card-header>
 <ion-card-content>
 <p>Daggers of this type, called katars, were designed to be held by the cross bars in a clenched fist. This is one of the few that retains its embossed leather scabbard. Elaborately decorated examples worn thrust through a waist sash, can be seen in many Indian paintings of this period.</p>
 </ion-card-content>
 </ion-card>
 </ion-content>
