<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Faculty
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="prathamesh">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Dr. Pooja Raundale</h2>
        <p><img src="assets/pjmam.jpg" height="300" width="400"><b>Professor and Head of Department</b><br>Research Interests : C programming, Artificial Intelligence, Computer Graphics, Object Oriented Programming in C++, Data Structures<br>
          Phone : 022-26708520, 022-26706640 extn.396<br><a href="mailto:pooja@spit.ac.in " target="_blank"> email: pooja@spit.ac.in </a></p>
      </li>
      <li>
       <input type="checkbox" checked>
       <i></i>
       <h2>Dr. Harshil Kanakia</h2>
       <p><img src="assets/harshilsir.jpg"><b>Assistant Professor</b><br>Research Interests : Software Engineering, Advanced Microprocessor, Data Structures, Database Management Systems<br>
        Phone : 022-26708520, 022-26706640 extn.396<br><a href="mailto:harshil_kanakia@spit.ac.in" target="_blank"> email:harshil_kanakia@spit.ac.in </a></p>
     </li>
     <li>
       <input type="checkbox" checked>
       <i></i>
       <h2>Dr. Aarti Karande</h2>
       <p><img src="assets/aartimam.jpg"><b>Assistant Professor</b><br>Research Interests : Object Oriented Programming, Service Oriented Architecture, Soft Computing Data Mining, Software Engineering<br>
        Phone : 022-26708520, 022-26706640 extn.396<br><a href="mailto:aartimkarande@spit.ac.in" target="_blank"> email:aartimkarande@spit.ac.in  </a></p>
     </li>
     <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Nikhita Mangaonkar</h2>
      <p><img src="assets/nikitamam.jpg"><b>Assistant Professor</b><br>Research Interests : Green computing, Natural Language Processing ,Computer networking<br>
        Phone : 022-26708520, 022-26706640 extn.396<br><a href="mailto:nikhita.mangaonkar@spit.ac.in" target="_blank"> email:nikhita.mangaonkar@spit.ac.in  </a></p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Sakina Salmani</h2>
      <p><img src="assets/sakinamam.jpg"><b>Assistant Professor</b><br>Research Interests : Network security and Cryptography, Cyber law ,Computer graphics, Image processing<br>
        Phone : 022-26708520, 022-26706640 extn.396<br><a href="mailto:sakina_shaikh@spit.ac.in" target="_blank"> email:sakina_shaikh@spit.ac.in </a></p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Pallavi Thakur</h2>
      <p><img src="assets/pallavimam.jpg"><b>Assistant Professor</b><br>Research Interests : Data Analytics, Operating System, Python Programming, Computer Networks, Structured Programming Approach, Computer Graphics and Virtual Reality, Open Source Technology,Object Oriented Analysis & Design<br>
        Phone : 022-26708520, 022-26706640 extn.396<br><a href="mailto:pallavi.thakur@spit.ac.in " target="_blank"> email:pallavi.thakur@spit.ac.in  </a></p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Prof. Mayura Nagar</h2>
      <p><img src="assets/mayuramam.png"><b>Assistant Professor</b><br>Research Interests : Programming in C++, Data Structures,Operation research,Software Engineering<br>
        Phone : 022-26708520, 022-26706640 extn.396<br><a href="mailto:gujmayu@gmail.com " target="_blank"> email:gujmayu@gmail.com</a></p>
    </li>
    </ul>
  </div></ion-content>

