<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROGRAMS
    </ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-content class="ion-padding">
 <div id="faq">
   <ul>
     <li>
       <input type="checkbox" checked>
       <i></i>
       <h2>Freshers Party</h2>
       <p>Date:-28/09/2021<br> Time:-08:00 am to 10:00 am </p>
     </li>
     <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Guest Lecture on IoT</h2>
      <p>Date:-31/09/2021<br> Time:-10:00 am to 12:00 pm</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Hands-on-Training</h2>
      <p>Date:-01/10/2021<br> Time:-09:00 am to 11:30 am</p>
    </li>
   </ul>
 </div>

</ion-content>
