<ion-header>
  <ion-toolbar>
    <ion-title>
Online games
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          
          <h3>Play with Numbers</h3>
          <p> “‘All work and no play make Jack a dull boy” is an old saying. Physical fitness leads to mental alertness.</p>
          <a href="https://www.abcya.com/grades/k/numbers">Visit</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>02</h2>
          <h3>Cool Kindergarten</h3>
          <p>Kindergartens help with the social, moral and emotional development of a child. It helps in building their skills, make them more active. Kindergartens help create self confidence in child and develop their communication skills as well when children interact with different other students of the class.</p>
          <a href="https://www.coolkindergarten.com/">Visit</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h2>03</h2>
          <h3>Education</h3>
          <p>Review important concepts and explore new topics—the options are endless with Education.com! Join for free today and browse 30,000+ worksheets, online games, lesson plans and more.</p>
          <a href="https://www.education.com/">Visit
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
