<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vision<br>Mission
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/vision.jpg" height="150" width="400">
    <h2><b>VISION</b></h2><hr>
    <ul><li>
      <p style="text-align: left;">
          To create a centre of excellence which will produce cutting edge technologists to cater the needs of Business and Society.

                      </p></li></ul>
            
   <h2><b>MISSION</b></h2><hr>
   <ul><li>
     <p style="text-align: left;">
      To provide high quality education.

      </p></li>
      <li>
        <p style="text-align: left;">
          To train the students to excel in cutting edge technologies that make them industry ready.

         </p></li>
         <li>
          <p style="text-align: left;">
            To inculcate ethical and professional values in students for the betterment of society.

           </p></li>
           <li>
            <p style="text-align: left;">
              To inculcate entrepreneurial mindset in students in order to make them job creators.

             </p></li>
    </ul>

  </ion-card>

</ion-content>

