<ion-header>
  <ion-toolbar>
    <ion-title>
      Lets study Alphabets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

<div class="container">
	
<p text-align:center> Guess me kids!!!!!</p>
	<div class="aImage">
		<img src='assets/A.jpg' alt=''>
		</div>
	<div class="a">
		<h1>Aa</h1>
	</div>
	<div class="bImage">
		<img src='assets/B.jpg' alt=''>
		</div>
	<div class="b">
		<h1>Bb</h1>
		</div>
	<div class="cImage">
		<img src='assets/C.jpg' alt=''>
		</div>
	<div class="c">
		<h1>Cc</h1>
	</div>
	<div class=dImage>
<img src='assets/D.jpg' alt=''>
		</div>
	<div class="d">
		<h1>Dd</h1>
		</div>
	<div class="eImage">
		<img src='assets/E.jpg' alt=''>
		</div>
	<div class="e">
		<h1>Ee</h1>
		</div>
	<div class="fImage">
		<img src='assets/F.jpg' alt=''>
	</div>
	<div class="f">
		<h1>Ff</h1>
		</div>
	<div class="gImage">
		<img src='assets/G.jpg' alt=''>
		</div>
	<div class="g">
		<h1>Gg</h1>
	</div>
	<div class="hImage">
		<img src='assets/H.jpg' alt=''>
		</div>
	<div class="h">
		<h1>Hh</h1>
	</div>
	<div class="iImage">
		<img src='assets/I.jpg' alt=''>
		</div>
	<div class="i">
		<h1>Ii</h1>
	</div>
	<div class="jImage">
		<img src='assets/J.jpg' alt=''>
		</div>
	<div class="j">
		<h1>Jj</h1>
	</div>
	<div class="kImage">
		<img src='assets/K.jpg' alt=''>
		</div>
	<div class="k">
		<h1>Kk</h1>
	</div>
	<div class="lImage">
		<img src='assets/L.jpg' alt=''>
		</div>
	<div class="l">
		<h1>Ll</h1>
	</div>
	<div class="mImage">
		<img src='assets/M.jpg' alt=''>
		</div>
	<div class="m">
		<h1>Mm</h1>
	</div>
	<div class="nImage">
		<img src='assets/N.jpg' alt=''>
		</div>
	<div class="n">
		<h1>Nn</h1>
	</div>
	<div class="oImage">
		<img src='assets/O.jpg' alt=''>
		</div>
	<div class="o">
		<h1>Oo</h1>
	</div>
	<div class="pImage">
		<img src='assets/P.jpg' alt=''>
		</div>
	<div class="p">
		<h1>Pp</h1>
	</div>
	<div class="qImage">
		<img src='assets/Q.jpg' alt=''>
		</div>
	<div class="q">
		<h1>Qq</h1>
	</div>
	<div class="rImage">
		<img src='assets/R.jpg' alt=''>
		</div>
	<div class="r">
		<h1>Rr</h1>
	</div>
	<div class="sImage">
		<img src='assets/S.jpg' alt=''>
		</div>
	<div class="s">
		<h1>Ss</h1>
	</div>
	<div class="tImage">
		<img src='assets/T.jpg' alt=''>
		</div>
	<div class="t">
		<h1>Tt</h1>
	</div>
	<div class="uImage">
		<img src='assets/U.jpg' alt=''>
		</div>
	<div class="u">
		<h1>Uu</h1>
	</div>
	<div class="vImage">
		<img src='assets/V.jpg' alt=''>
		</div>
	<div class="v">
		<h1>Vv</h1>
	</div>
	<div class="wImage">
		<img src='assets/W.jpg' alt=''>
		</div>
	<div class="w">
		<h1>Ww</h1>
	</div>
	<div class="xImage">
		<img src='assets/X.jpg' alt=''>
		</div>
	<div class="x">
		<h1>Xx</h1>
	</div>
	<div class="yImage">
		<img src='assets/Y.jpg' alt=''>
		</div>
	<div class="y">
		<h1>Yy</h1>
	</div>
	<div class="zImage">
		<img src='assets/Z.jpg' alt=''>
		</div>
	<div class="z">
		<h1>Zz</h1>
	</div>
	
</div>
</ion-content>
