<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="faq">
   <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Admissions 2021-22</h2>
      <p>Date - 01/10/2021 - 30/11/2021<br><b><a href="https://www.spit.ac.in/admissions/">Click here to know more </a></b></p>
      </li>
   <li>
   <input type="checkbox" checked>
   <i></i>
   <h2>Internship @ PDC</h2>
   <p>Date - 21/9/2021<br> Time - 08 am to 10 am <br> <b><a href="https://www
  .spit.ac.in/2021/08/21/internship-at-product-development-center-pdc-s-p-it/">Click here to know more </a></b></p>
   </li>
   <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>ICCIT 2021</h2>
    <p>Date - 15/07/2021 - 17/07/2021<br><b><a href="https://conference.spit.a
   c.in/">Click here to know more </a></b></p>
    </li>
    <li>
    <input type="checkbox" checked>
    <i></i>
    <h2>EVENT 3</h2>
    <p>Date - 30/9/2021<br> Time - 08 am to 10 am <br> <b>TICKETS AVAILABLE</b
   ></p>
    </li>
    </ul>
   </div>
   </ion-content>
